@charset "UTF-8";
* {
	font-family: 'Roboto';
}

body {
	background-color: #F5F8FA;
}

input {
	margin-bottom: 0;
}

.vertical-center {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

//Classes to vertically center things
.vertical-container {
   display: flex;
  justify-content: center;
}

.vertical-container-child {
  align-self: center;
}

.clear {
	clear: both;
}

$dark-blue: #0B3C5D;
$light-blue: #328cc1;

.dark-button {
	background-color: $dark-blue;
	border: 1px solid $dark-blue;
	color: white;
}

.light-button {
	background-color: $light-blue;
	border: 1px solid $light-blue;
	color: white;
}

.facebook {
	background-color: #3B5998;
}

.google {
	background-color: #BD403A;
}

.logo {
	width: 250px;
}
.wrapper {
	margin-bottom: 50px;
	.login {
		.email {
			@media (max-width: 550px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.password {
			@media (max-width: 550px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.login-button {
			@media (max-width: 550px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}

	}
	.forgot-pass {
		color: $dark-blue;

		&:hover {
			cursor: pointer;
		}
	}
	.button-primary {
		color: white;
		background-color: #328cc1;
		border-color: #328cc1;
	}
}

.navigation {
	height: 65px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    .wrapper {
    	width: 100%;
    	height: 100%;
    	position: relative;
    }
    .logo {
    	background-color: $dark-blue;
    	height: 100%;
    	width: 70px;
    	text-align: center;
    	display: inline-block;
    	position: absolute;
    	left: 0;
    	#eyes {
    		width: 50px;
    		position: absolute;
    	  	top: 50%;
    	  	left: 50%;
    	  	transform: translate(-50%, -50%);
    	}
    }
    .logo-wrapper {
    	text-align: center;
    	width: 100%;
    }
    .overlooked {
    	width: 180px;
    }
    .right-nav {
    	height: 100%;
    	padding-right: 10px;
    }
    .right-nav-item {
    	margin-left: 20px;
    	cursor: pointer;
    	-webkit-transition: color .1s ease-in-out;
    	transition: color .1s ease-in-out;
    	&:hover {
    		color: $light-blue;
    	}
    }
}

.articles-preview {
	max-height: 100vh;
	overflow-y: auto;
}

.post {
	margin-bottom: 30px;
	border: 1px solid #e6ecf0;
	border-radius: 5px;
}

.post-comment {
	padding: 10px;
	overflow: auto;
}

.comment-wrapper {
	background-color: white;
}

.hide {
	display: none;
}

.comment {
	background-color: white;
	padding: 10px;
	border-top: 1px solid #e6ecf0;
	.comment-author {
		font-weight: 600;
		font-size: 14px;
		&:hover {
			cursor: pointer;
		}
	}
	.comment-body {
		font-size: 14px;
		margin-bottom: 0;
	}
}

.article-wrapper {
	background-color: white;
	padding: 5px;
	position: relative;
	.block {
		display: block;
		width: 100%;
	}
	.article-container {
		width: 100%;
		color: black;
		height: 100%;
		text-decoration: none;
	}
	.article-imgurl {
		background-color: black;
	}
	.article {
		padding: 5px;
		h6 {
			font-weight: 600;
			margin-bottom: 0;
		}
		span {
			color: #999;
			font-size: 12px;
		}
	}
	.description {
		font-family: 'Georgia', serif;
		font-size: 14px;
		margin-bottom: 0;
	}
	.reaction-container {
		width: 100%;
		height: 22px;
		padding: 10px 0;
		.reaction {
			width: 33%;
			&:hover {
				color: #b71c1c;
				cursor: pointer;
			}
		}
		.like-icon {
			margin-right: 5px;
		}
		.liked-icon {
			color: #b71c1c;
			margin-right: 5px;
		}
	}
}

.homepage-body {
	height: 100vh;
	width: 100%;
	.social {
		width: 50px;
		height: 50px;
		margin-right: 15px;
		display: inline-block;
		border-radius: 5px;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
	}
	.value-prop {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.img-wrapper {
		display: flex;
	 	justify-content: center;
	  	align-items: center;
	  	height: 100%;
	  	width: 100%;
	}
	.social-icon {
		width: 30px;
	}
	.signup-form {
		margin-top: 50px;
		.row {
			margin-bottom: 15px;
		}
    #pwd {
      width: 100%;
    }
	}
	.row {
		width: 100%;
	}
	.left-container {
		background-color: $dark-blue;
		color: white;
		padding: 50px 60px;
		@media (min-width: 550px) {
			width: 50%;
		}
	}
	.right-container {
		padding: 50px 60px;
		@media (min-width: 550px) {
			width: 50%;
		}
	}
}

.news-page {
	.news-topic-bar {
		margin-top: 25px;
	}
	.topic {
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		display: inline-block;
		&:hover {
			cursor: pointer;
		}
	}
	.underline {
		border-bottom: 2px solid black;
		-webkit-transition: background .175s ease-out, color .175s ease-in-out;
		transition: background .175s ease-out, color .175s ease-in-out;
	}
	.article-container {
		margin-top: 30px;
	}
}
