* {
  font-family: 'Roboto'; }

body {
  background-color: #F5F8FA; }

input {
  margin-bottom: 0; }

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.vertical-container {
  display: flex;
  justify-content: center; }

.vertical-container-child {
  align-self: center; }

.clear {
  clear: both; }

.dark-button {
  background-color: #0B3C5D;
  border: 1px solid #0B3C5D;
  color: white; }

.light-button {
  background-color: #328cc1;
  border: 1px solid #328cc1;
  color: white; }

.facebook {
  background-color: #3B5998; }

.google {
  background-color: #BD403A; }

.logo {
  width: 250px; }

.wrapper {
  margin-bottom: 50px; }
  @media (max-width: 550px) {
    .wrapper .login .email {
      width: 100%;
      margin-bottom: 20px; } }
  @media (max-width: 550px) {
    .wrapper .login .password {
      width: 100%;
      margin-bottom: 20px; } }
  @media (max-width: 550px) {
    .wrapper .login .login-button {
      width: 100%;
      margin-bottom: 20px; } }
  .wrapper .forgot-pass {
    color: #0B3C5D; }
    .wrapper .forgot-pass:hover {
      cursor: pointer; }
  .wrapper .button-primary {
    color: white;
    background-color: #328cc1;
    border-color: #328cc1; }

.navigation {
  height: 65px;
  border-bottom: 1px solid #ddd;
  width: 100%; }
  .navigation .wrapper {
    width: 100%;
    height: 100%;
    position: relative; }
  .navigation .logo {
    background-color: #0B3C5D;
    height: 100%;
    width: 70px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0; }
    .navigation .logo #eyes {
      width: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .navigation .logo-wrapper {
    text-align: center;
    width: 100%; }
  .navigation .overlooked {
    width: 180px; }
  .navigation .right-nav {
    height: 100%;
    padding-right: 10px; }

.articles-preview {
  max-height: 100vh;
  overflow-y: auto; }

.post {
  margin-bottom: 30px;
  border: 1px solid #e6ecf0;
  border-radius: 5px; }

.post-comment {
  padding: 10px;
  overflow: auto; }

.comment-wrapper {
  background-color: white; }

.hide {
  display: none; }

.comment {
  background-color: white;
  padding: 10px;
  border-top: 1px solid #e6ecf0; }
  .comment .comment-author {
    font-weight: 600;
    font-size: 14px; }
    .comment .comment-author:hover {
      cursor: pointer; }
  .comment .comment-body {
    font-size: 14px;
    margin-bottom: 0; }

.article-wrapper {
  background-color: white;
  padding: 5px;
  position: relative; }
  .article-wrapper .block {
    display: block;
    width: 100%; }
  .article-wrapper .article-container {
    width: 100%;
    color: black;
    height: 100%;
    text-decoration: none; }
  .article-wrapper .article-imgurl {
    background-color: black; }
  .article-wrapper .article {
    padding: 5px; }
    .article-wrapper .article h6 {
      font-weight: 600;
      margin-bottom: 0; }
    .article-wrapper .article span {
      color: #999;
      font-size: 12px; }
  .article-wrapper .description {
    font-family: 'Georgia', serif;
    font-size: 14px;
    margin-bottom: 0; }
  .article-wrapper .reaction-container {
    width: 100%;
    height: 22px;
    padding: 10px 0; }
    .article-wrapper .reaction-container .like-icon {
      margin-right: 5px; }
  .article-wrapper .reaction {
    width: 33%; }
    .article-wrapper .reaction:hover {
      color: #b71c1c;
      cursor: pointer; }

.homepage-body {
  height: 100vh;
  width: 100%; }
  .homepage-body .social {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    display: inline-block;
    border-radius: 5px;
    text-align: center; }
    .homepage-body .social:hover {
      cursor: pointer; }
  .homepage-body .value-prop {
    margin-top: 20px;
    margin-bottom: 40px; }
  .homepage-body .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
  .homepage-body .social-icon {
    width: 30px; }
  .homepage-body .signup-form {
    margin-top: 50px; }
    .homepage-body .signup-form .row {
      margin-bottom: 15px; }
    .homepage-body .signup-form #pwd {
      width: 100%; }
  .homepage-body .row {
    width: 100%; }
  .homepage-body .left-container {
    background-color: #0B3C5D;
    color: white;
    padding: 50px 60px; }
    @media (min-width: 550px) {
      .homepage-body .left-container {
        width: 50%; } }
  .homepage-body .right-container {
    padding: 50px 60px; }
    @media (min-width: 550px) {
      .homepage-body .right-container {
        width: 50%; } }

.news-page .news-topic-bar {
  margin-top: 25px; }
.news-page .topic {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block; }
  .news-page .topic:hover {
    cursor: pointer; }
.news-page .underline {
  border-bottom: 2px solid black;
  -webkit-transition: background .175s ease-out, color .175s ease-in-out;
  transition: background .175s ease-out, color .175s ease-in-out; }
.news-page .article-container {
  margin-top: 30px; }

/*# sourceMappingURL=index.css.map */
